@use 'globalStyleSheet' as *;
.simple_stack__base {
    color: #2c3e50;
    display: flex;
    flex-flow: var(--flex-direction-wrap);
    align-items: var(--align-items);
    justify-content: var(--justify-content);
}
