.simple_skelton__base {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}
.simple_skelton__plain {
    margin: 0 auto;
    width: var(--simple-skelton-body-width);
    height: var(--simple-skelton-body-height);
    border-radius: var(--border-radius-1);
    z-index: 1;
    background: var(--skelton-color-light);
    animation: GradientAnimation 2.2s 0.5s infinite;
}
.simple_skelton__body {
    width: var(--simple-skelton-body-width);
    height: var(--simple-skelton-body-height);
    margin: var(--space-4) auto;
    border-radius: var(--border-radius-1);
    z-index: 1;
    background: var(--skelton-color-light);
    animation: GradientAnimation 2.2s 0.5s infinite;
}
.simple_skelton__text_line {
    height: 12px;
    margin: var(--space-4) auto;
    border-radius: var(--border-radius-05);
    z-index: 1;
    background: var(--skelton-color-light);
    animation: GradientAnimation 2.2s 0.5s infinite;
}
.simple_skelton__header {
    width: 40%;
    height: 20px;
    margin: var(--space-4) auto var(--space-4) 0;
    border-radius: var(--border-radius-1);
    z-index: 1;
    background: var(--skelton-color-light);
    animation: GradientAnimation 2.2s 0.5s infinite;
}
@keyframes GradientAnimation {
    0% {
        background: var(--skelton-color-light);
    }
    50% {
        background: var(--skelton-color-dark);
    }
    100% {
        transform: var(--skelton-color-light);
    }
}
