.simple_banner__base {
    color: #2c3e50;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: var(--surface-warning-alpha);
    border: 1px solid var(--surface-warning);
    border-radius: var(--border-radius-1);
    box-sizing: border-box;
    padding: var(--space-2) var(--space-3);
}
.simple_banner__header {
    font-size: var(--font-size-4);
    display: flex;
    align-items: center;
}
.simple_banner__heading {
    margin: 0 var(--space-5);
}
.simple_banner__content {
    font-size: var(--font-size-4);
    padding: var(--space-1) 0;
    text-align: left;
    display: inline;
}
.simple_banner__button {
    margin: 0 0 0 auto;
}
