.simple_checkbox__base {
    color: #2c3e50;
    display: inline-flex;
    align-items: center;
}
.simple_checkbox__label_text {
    color: var(--text);
    padding: var(--space-3) 0;
    margin-left: var(--space-4);
    cursor: pointer;
}
.simple_checkbox__checkbox_container {
    position: relative;
    width: calc(var(--checkbox-size) + 2px);
    height: calc(var(--checkbox-size) + 2px);
    background: rgba(255, 255, 255, 1);
    border: 1px solid var(--border-weak);
    box-sizing: border-box;
    border-radius: calc(var(--checkbox-size) / 4);
    transition: background 0.1s, border 0.1s;
    cursor: pointer;
}
.simple_checkbox__checked_background {
    border: 1px solid var(--checked);
    box-sizing: border-box;
    background: var(--checked);
}
.simple_checkbox_inner_icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(var(--checkbox-icon-scale));
    z-index: 10;
}
