$background: rgba(244, 244, 244, 1);
$theme-color: rgba(255, 194, 85, 1);
$theme-color-alpha: rgba(255, 194, 85, 0.2);
$surface: rgba(253, 255, 255, 1);
$surface-black-alpha: rgba(44, 62, 80, 0.1);
$surface-black: rgba(44, 62, 80, 1);
$surface-warning: rgba(255, 194, 85, 1);
$surface-warning-alpha: rgba(255, 194, 85, 0.2);
$surface-warning-deep: rgba(196, 113, 67, 1);
$surface-error: rgba(255, 121, 121, 1);
$surface-error-alpha: rgba(255, 240, 240, 1);
$border-error: rgba(255, 121, 121, 1);

$text: rgba(114, 114, 114, 1);
$text-white: rgba(255, 255, 255, 1);
$text-disabled: rgba(200, 200, 200, 1);
$text-error: rgba(196, 0, 0, 1);

$primary: rgba(255, 155, 85, 1);
$primary-hovered: rgba(255, 178, 54, 1);
$primary-pressed: rgba(255, 178, 54, 1);
$primary-disabled: rgba(255, 194, 85, 0.5);
$normal: none;
$normal-hovered: rgba(233, 239, 241, 1);
$normal-pressed: rgba(233, 239, 241, 1);
$normal-disabled: rgba(114, 114, 114, 0.1);
$critical: rgba(255, 121, 121, 1);
$critical-hovered: rgba(255, 95, 95, 1);
$critical-pressed: rgba(255, 95, 95, 1);
$critical-disabled: rgb(255, 146, 146);
$plain: rgba(53, 146, 185, 1);
$plain-hovered: rgba(35, 98, 124, 1);
$plain-pressed: rgba(35, 98, 124, 1);
$plain-disabled: rgba(161, 161, 161, 1);
$criticalPlain: rgba(255, 121, 121, 1);
$criticalPlain-hovered: rgba(255, 95, 95, 1);
$criticalPlain-pressed: rgba(255, 95, 95, 1);
$criticalPlain-disabled: rgb(255, 146, 146);

$hovered: rgba(233, 239, 241, 1);
$selected: rgba(60, 130, 214, 1);
$checked: rgba(60, 130, 214, 1);
$checked-alpha: rgba(60, 130, 214, 0.1);
$border: rgba(114, 114, 114, 1);
$border-weak: rgba(213, 213, 213, 1);

$space-0: 0rem;
$space-025: 0.0625rem;
$space-05: 0.125rem;
$space-1: 0.25rem;
$space-2: 0.5rem;
$space-025: 0.625rem;
$space-3: 0.75rem;
$space-4: 1rem;
$space-5: 1.25rem;
$space-6: 1.5rem;
$space-8: 2rem;
$space-10: 2.5rem;
$space-12: 3rem;
$space-16: 4rem;

$font-size-1: 0.75rem;
$font-size-2: 0.8125rem;
$font-size-3: 0.875rem;
$font-size-4: 0.9375rem;
$font-size-5: 1rem;
$font-size-6: 1.0625rem;
$font-size-7: 1.25rem;
$font-size-8: 1.3125rem;
$font-size-9: 1.5rem;
$font-size-10: 1.625rem;

$border-radius-05: 0.225rem;
$border-radius-1: 0.45rem;
$border-radius-2: 0.625rem;

$box-shadow-1: rgba(0, 123, 255, 0.04) 0px 2px 20px 0px, rgba(15, 26, 38, 0.08) 0px 8px 32px 0px;
$box-shadow-2: rgba(0, 123, 255, 0.04) 0px 8px 20px 0px, rgba(15, 26, 38, 0.1) 0px 8px 32px 0px;
$modal-background: rgba(0, 0, 0, 0.75);
