@use '@simple-education-dev/tokens/styles' as *;
.simple_card__base {
    display: inline-block;
    box-sizing: border-box;
    width: var(--card-width);
    background: $surface;
    border-radius: $border-radius-2;
    padding: $space-4 $space-10;
    box-shadow: $boxshadow;
}
.simple_card__actions {
    margin-top: $space-8;
    margin-bottom: $space-3;
    display: flex;
    justify-content: flex-end;
}
