@use 'globalStyleSheet' as *;
.simple_card__base {
    color: #2c3e50;
    display: inline-block;
    box-sizing: border-box;
    width: var(--card-width);
    background: $surface;
    border-radius: $border-radius-2;
    box-shadow: $box-shadow-1;

    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.simple_card__actions {
    margin: $space-2 $space-10 $space-10 $space-10;
    display: flex;
    justify-content: flex-end;
}
