@use 'globalStyleSheet' as *;
.simple_datetime_picker__float_box {
    text-align: center;
    color: #2c3e50;
    display: block;
    position: absolute;
    background: $surface;
    border-radius: 7px;
    border: 1px solid #efefef;
    box-shadow: $box-shadow-1;
    padding: $space-2 $space-5;
    z-index: 100;
}
