.simple_input__container {
    color: var(--text);
    text-align: left;
    width: var(--simple-input-width);
    margin: var(--space-2) 0;
    user-select: none;
    -webkit-user-select: none;
}
.simple_input__input_field {
    position: relative;
    display: flex;
    align-items: center;
}
.simple_input__caption_hidden {
    font-size: var(--font-size-3);
    pointer-events: none;
    padding: 0 var(--space-1);
    display: block;
    text-align: left;
    opacity: 0;
}
.simple_input__caption {
    pointer-events: auto;
    opacity: 1;
}
.simple_input__input_element {
    color: var(--text);
    width: 100%;
    flex-shrink: 0;
    padding: calc(var(--space-2) + var(--space-05)) var(--space-3);
    margin: 0;
    font-size: var(--font-size-5);
    border-radius: var(--border-radius-1);
    border: 1px solid var(--border-weak);
    background: var(--surface);
    transition: border 0.5s;
    box-sizing: border-box;
    z-index: 10;
    outline: 0;
}
.simple_input__input_element::-webkit-inner-spin-button,
.simple_input__input_element::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
    -moz-appearance: textfield !important;
}
.text_input_focused_border_backdrop {
    position: absolute;
    width: calc(100% + 1px);
    height: calc(100% + 1px);
    border-radius: var(--border-radius-1);
    box-shadow: 0 0 0 var(--outline-backdrop-weight) var(--theme-color);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.simple_input__disabled {
    background: rgba(238, 238, 238, 1);
    cursor: no-drop;
}
.simple_input__icon_base {
    display: flex;
    align-items: center;
    position: absolute;
    height: 100%;
    top: 50%;
    right: var(--space-2);
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 11;
}
.simple_input__remove_icon {
    width: 18px;
    height: 18px;
    fill: var(--surface-black);
}
.simple_input__input_error {
    border: 1px solid var(--surface-error);
    background: var(--surface-error-alpha);
}
.simple_input__input_error:focus {
    border: 1px solid var(--surface-error);
    background: var(--surface-error-alpha);
}
.simple_input__error_message {
    display: inline-flex;
    align-items: center;
}
.simple_input__error_text {
    font-size: var(--font-size-3);
    color: var(--text-error);
}
.simple_input__error_exclamation {
    margin: 0 var(--space-2) 0 var(--space-1);
}
.simple_input__length_count {
    font-size: var(--font-size-3);
    color: var(--text-weak);
}
.simple_input_number_handler {
    display: inline-flex;
    flex-flow: column;
    width: 16px;
    height: 90%;
    text-align: center;
    justify-content: center;
}
.simple_input_number_handler_box {
    width: 16px;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 1px;
    padding: 0 3px;
    border-radius: 1px;
    background: var(--hovered);
}
.simple_input_number_handler_box:active {
    background: var(--pressed);
}
