@use 'globalStyleSheet' as *;

.simple_popover__popover {
    color: #2c3e50;
    position: absolute;
    width: auto;
    height: auto;
    margin-top: $space-4;
    background: $surface;
    box-shadow: $box-shadow-1;
    border-radius: $border-radius-1;
    z-index: 1000;
}
.simple_popover__popover::before {
    content: '';
    border: 5px solid transparent;
    border-bottom: 5px solid $surface;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
}
