.simple_toast__base {
    color: var(--surface);
    font-size: var(--font-size-6);
    display: none;
    align-items: center;
    padding: var(--space-2) var(--space-4);
    border-radius: var(--border-radius-1);
    position: fixed;
    top: 100vh;
    left: 50%;
    transform: translateX(-50%);
    background: var(--surface-black);
    transition: top 200ms ease-in-out;
}
.simple_toast__base_error {
    background: var(--surface-error);
}
.simple_toast__content_text {
    color: var(--text-white);
    font-size: var(--font-size-6);
    margin-right: var(--space-2);
}
