@use 'globalStyleSheet' as *;
.simple_tabs__base {
    color: #2c3e50;
    display: flex;
    justify-content: space-between;
}
.simple_tabs__tab_block {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid $border;
    color: $text;
    cursor: pointer;
}
.simple_tabs__selected {
    width: 100%;
    height: 5px;
    background: $theme-color;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.simple_tabs__entered {
    width: 100%;
    height: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.simple_tabs__entered_text {
    color: $surface-black;
}
