@use 'globalStyleSheet' as *;
.simple_tag__base {
    display: inline-flex;
    align-items: center;
    background: var(--tag-surface-color);
    font-size: $font-size-4;
    border-radius: 100vh;
    box-shadow: $box-shadow-1;
    padding: 1px 10px;
    margin: 0 3px;
}
.simple_tag__text {
    color: var(--tag-text-color);
}
.simple_tag__remove_icon {
    margin-left: 10px;
}
