@use 'globalStyleSheet' as *;
.simple_tag__base {
    color: #2c3e50;
    display: inline-flex;
    align-items: center;
    background: #2c3e50;
    color: $surface;
    font-size: $font-size-4;
    border-radius: 3.5px;
    padding: 1px 10px;
    margin: 0 3px;
    opacity: 0.3;
}
.simple_tag__text {
    color: $surface;
}
.simple_tag__remove_icon {
    margin-left: 10px;
}
