.simple_selector__base {
    width: 100%;
    color: var(--text);
    display: inline-block;
    text-align: left;
    margin-bottom: var(--space-2);
}
.simple_selector__caption_hidden {
    font-size: var(--font-size-3);
    padding: 0 5px;
    display: block;
    text-align: left;
    opacity: 0;
}
.simple_selector__caption_text {
    opacity: 1;
}
.simple_selector__radio_container {
    display: flex;
    justify-content: left;
    align-items: center;
}
.simple_selector__radio_elements {
    margin: var(--space-05 0);
}
.simple_selector__radio_text {
    cursor: pointer;
    font-size: var(--font-size-4);
    color: var(--text);
}
.simple_selector__radio_helptext {
    margin-left: calc(21px + var(--space-1));
    color: var(--text);
    font-size: var(--font-size-4);
}
.simple_selector__radio_circle {
    margin-right: var(--space-1);
    position: relative;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 1);
    border: 0.075rem solid var(--border-weak);
    transition: border 0.2s;
    cursor: pointer;
}
.radio_circle__selected {
    background: rgba(255, 255, 255, 1);
    border: 0.075rem solid var(--selected);
}
.radio_circle__inside {
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--selected);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: background 0.2s;
}
.simple_selector__form_element {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0;
}
.simple_selector__select_box {
    width: 100%;
    font-size: var(--font-size-4);
    line-height: var(--font-size-4);
    color: var(--text);
    appearance: none;
    padding: 11.5px var(--space-8) 11.5px var(--space-2);
    box-sizing: border-box;
    border: 1px solid var(--border-weak);
    border-radius: var(--border-radius-1);
    background: var(--surface);
    z-index: 10;
    outline: 0;
    margin: 0;
}
.select_focused_border_backdrop {
    position: absolute;
    width: calc(100% + 1px);
    height: calc(100% + 1px);
    border-radius: var(--border-radius-1);
    box-shadow: 0 0 0 var(--outline-backdrop-weight) var(--theme-color);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.simple_selector__select_icon {
    position: absolute;
    left: calc(100% - 28px);
    z-index: 11;
}
.select_box__error {
    border: 1px solid var(--surface-error);
    background: var(--surface-error-alpha);
}
.select_box__error:focus {
    border: 1px solid var(--surface-error);
    background: var(--surface-error-alpha);
}
.simple_selector__error_message {
    display: inline-flex;
    align-items: center;
}
.simple_selector__error_text {
    font-size: var(--font-size-3);
    color: var(--text-error);
}
.simple_selector__error_exclamation {
    width: 15px;
    height: 15px;
    fill: var(--surface-error);
    margin: 0 var(--space-2) 0 var(--space-1);
}
